<%- include('../partials/header') %> 

<div class="container"> 
	<div clas="row">
		<h1 class="title"> Edit <%= activity.name %> </h1>
		<div class="form-box">
			<form action="/activities/<%= activity._id %>?_method=PUT" method="POST" enctype="multipart/form-data">
				<div class="form-group">
					<label target="activity[name]">Title</label>
					<input type="text" class="form-control" name="activity[name]" value="<%=activity.name%>">
				</div>
				<div class="form-group">
					<label target="activity[date]">When will the activity occur?</label>
					<input type="text" class="form-control" name="activity[date]" value="<%=activity.date%>">
				</div>
				<div class="form-group">
					<label target="activity[category]">Categories</label>
					<select name="activity[category]" multiple style="display: block">
						<% categories.forEach(function(category) { %>
							<option value="<%=category%>" <%=(activity.category.includes(category)) ? 'selected' : ''%>><%=category%></option>
						<% }) %>	
					</select>
				</div>
				<div class="form-group">
					<label for="image">Image</label>
					<input type="file" id="image" class="form-control" name="image" accept="image/*">
				<div class="form-group">
					<label for="activity[description]">Description</label>
					<input type="text" class="form-control" name="activity[description]" value="<%=activity.description%>">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-lg btn-primary btn-block" value="Post">  
				</div>
			</form>
			<a href="/activities" >View Activities</a>
		</div>
	</div>
</div>

<%- include('../partials/footer') %>

