<%- include('../partials/header') %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to DoTogether</h1>
			<p>View our recommended activities for you</p>
			<p>
				<a class="btn btn-primary btn-large" href="/activities/new">Post an activity</a>
			</p>
			<p>
				<form action="/activities" method="GET" class="form-inline"> 
					<div class="form-group">
						<input type="text" name="search" placeholder="Search activities" class="form-control">
						<input type="submit" value="Search" class="btn btn-default">
					</div>
				</form>
			</p>
		</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap: wrap">
			<% activities.forEach(function(activity) { %>
			<a href="/activities/<%= activity._id %>">
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail">
						<img src="<%= activity.image %>" onerror="this.src='https://images.unsplash.com/photo-1593007791459-4b05e1158229?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80'" alt="An awesome activity" />
						<div class="caption">
							<h3> <%= activity.name %> </h3>
							<% activity.category.forEach(function(category) {%>
								<h2 class="label label-primary large"><%=category%></h3>
							<% })%>							
							<h4> by <%= activity.author.username %> </h4>
							<p> posted <%= moment(activity.dateCreated).fromNow() %> </p>
							<p> Happening: <%= activity.date %></p>
							<p> <%= activity.description.length > 50 ? activity.description.substring(0, 50) + '...' : activity.description%> </p>
						</div>
						<p>
							<a href="/activities/<%= activity._id %>" class="btn btn-primary">More Info</a>
						</p>
					</div>
				</div>
			</a>
			<% }) %>
	</div>

</div>

<%- include('../partials/footer') %>
